{{#with _embedded}}
<div class="cl-mcont">

  <div class="row">

    <div class="col-sm-6">

      <div class="block-flat">
{{#with rel:my-team}}
        <div class="header">
          <h3>{{name}}</h3>
        </div>
        <div class="content">
<!--          <p><b>Rating</b></p> -->
          <div class="progress">
            <div style="width: {{rating-percentage}}%" class="progress-bar progress-bar-success">{{rating}}</div>
          </div>
          <a href="{{_links.self.href}}">More...</a>
        </div>
{{/with}}
      </div>

      <div class="block-flat">
        <div class="header">
          <h3>This Season</h3>
        </div>
        <div class="content">
TODO...
{{#with rel:season-team-statistics}}
          <!--
            <p>
            League positions history: {{league-positions-history}}<br/>
            League results history: {{league-results-history}}<br/>
            </p>
          -->
{{/with}}
          
{{#with rel:current-season}}
{{#with _forms}}
{{#with end-season}}
<form action="{{action}}" method="{{method}}">
<button class="btn btn-success btn-flat btn-rad md-trigger">{{title}}</button>
</form>
{{/with}}
{{/with}} {{!-- _forms --}}
{{/with}}
        </div>
      </div>
      
{{#with rel:next-match-day}}
      <div class="block-flat">
        <div class="header">
          <h3>Next Match</h3>
        </div>
        <div class="content">
          <div class="list-group tickets">
            <li class="list-group-item">
{{#if _embedded}}
{{#with _embedded}}
  {{#with next-match}}
              <span class="label label-primary pull-right">{{competition-type}}</span>
              <h4 class="name">
    {{#with _embedded}}
      {{#with home-team}}
        {{> teams/teamname}}
      {{/with}}
 - 
      {{#with away-team}}
        {{> teams/teamname}}
      {{/with}}
    {{/with}} {{!-- _embedded --}}
              </h4>
              <p>{{competition-name}} {{round}}</p>
              <span class="date">{{date}}</span>
  {{/with}} {{!-- next-match --}}
{{/with}} {{!-- _embedded --}}              
{{else}}
              <p>Your team does not play...</p>
{{/if}}
            </li>
          </div>
          <div class="text-center">
            <!-- <a href="{{_links.self.href}}">See all matches</a> -->
{{#with _forms}}
{{#with play-match-day}}
<form action="{{action}}" method="{{method}}">
<button class="btn btn-success btn-flat btn-rad md-trigger">{{title}}</button>
</form>
{{/with}}
{{/with}} {{!-- _forms --}}
          </div>
        </div>
      </div>
{{/with}} {{!-- rel:next-match-day --}}

    </div>

    <div class="col-sm-3">

      <div class="block-flat">
        <div class="content no-padding">
  {{#with rel:season-team-statistics}}
          <div class="overflow-hidden">
            <i class="fa fa-list-alt fa-4x pull-left color-primary"></i>
            <h3 class="no-margin">{{toUpperCase league-name}}</h3>
            <p class="color-primary">Position</p>
          </div>
          <h1 class="no-margin big-text" align="center">{{league-position}}</h1>
  {{/with}}
        </div>
      </div>

    </div>
    <div class="col-sm-3">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6">


    </div>
    <div class="col-sm-6 col-md-6">
    </div>
  </div>
</div>
{{/with}} {{!-- _embedded --}}
