<h4>Matches</h4>

<div id="matches">

{{#with _embedded}}
{{#with rel:matches-per-competition}}
{{#each this}}
<h5>{{competition-name}} {{round-name}}</h5>

{{#with _embedded}}
{{#with rel:matches}}
{{#each this}}

{{#with _embedded}}
{{#with home-team}}
{{> teams/teamname}}
{{/with}}
 - 
{{#with away-team}}
{{> teams/teamname}}
{{/with}}
{{/with}} {{!-- _embedded --}}

{{#if played}}
{{home-score}} - {{away-score}}
{{#if penalties-taken}}
    ({{home-penalty-score}} - {{away-penalty-score}})
{{/if}}
{{/if}}
<br/>
{{/each}}

{{/with}}
{{/with}}

{{#if @first}}
<hr />
{{else}}
<br />
{{/if}}

{{/each}}

{{/with}} {{!-- _rel:matches-per-competition --}}
{{/with}} {{!-- _embedded --}}

</div>