<div class="cl-mcont">

{{#with _embedded}}
{{#if rel:match}}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="block-flat">
{{#with rel:match}}
                <div class="content">
     
                <table class="no-border">
                    <tbody class="no-border-x no-border-y">
                      <tr>
                        <td class="text-right" width="40%">
                            <h3>
                                {{#with _embedded/home-team}}
                                    {{> teams/teamname}}
                                {{/with}}
                            </h3>
                        </td>
                        <td class="text-center"><h3>{{home-score}} - {{away-score}}</h3></td>
                        <td class="text-left" width="40%">
                            <h3>
                                {{#with _embedded/away-team}}
                                    {{> teams/teamname}}
                                {{/with}}
                            </h3>
                        </td>
                      </tr>
                    </tbody>
                </table>

    {{#if penalties-taken}} 
        ({{home-penalty-score}} - {{away-penalty-score}}) 
    {{/if}} 

                </div>
{{/with}}
            </div>
        </div>
    </div>
{{/if}}

    <div class="row">
        <div class="col-sm-6 col-md-6">
{{#with rel:matches-per-competition}} {{#each this}}
            <div class="block-flat">
                <div class="header">
                    <h3>{{competition-name}} {{round-name}}</h3>
                </div>
                <div class="content">
                    <table class="no-border">
                        <tbody class="no-border-y">
{{#with _embedded}}
    {{#with rel:matches}}
        {{#each this}}
                            <tr>
            {{#with _embedded}}
                {{#with home-team}}
                                <td width="25%" class="text-right">{{> teams/teamname}}</td>
                {{/with}}
            {{/with}} {{!-- _embedded --}} 
                                <td width="15%" class="text-center">
                                    {{#if played}}
                                        {{home-score}} - {{away-score}}
                                        {{#if penalties-taken}} 
                                            ({{home-penalty-score}} - {{away-penalty-score}}) 
                                        {{/if}} 
                                    {{else}}
                                        -
                                    {{/if}}                                    
                                </td>
            {{#with _embedded}}
                {{#with away-team}}
                                <td class="text-left">{{> teams/teamname}}</td>
                {{/with}}
            {{/with}} {{!-- _embedded --}} 
                            </tr>
        {{/each}} 
    {{/with}} 
{{/with}} 
                        </tbody>
                    </table>
                </div>
            </div>
{{/each}}
{{/with}} {{!-- _rel:matches-per-competition --}}
        </div>
    </div>
{{/with}} {{!-- _embedded --}}
</div>