<div class="cl-mcont">

    {{#with _embedded}}
    <div class="row">
        <div class="col-sm-7">
            {{#with rel:team}}
            <div class="block-flat">
                <div class="header">
                    <h3>{{name}}</h3>
                </div>
                <div class="content">
                    <div class="progress">
                        <div style="width: {{rating-percentage}}%" class="progress-bar progress-bar-success">{{rating}}</div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
        <div class="col-sm-5">

            <div class="block-flat">
                <div class="header">
                    <h3>Other Teams</h3>
                </div>
                <div class="content">
        {{> teams/teamselectbox}}
                </div>
            </div>
            
            {{#with rel:season-team-statistics}}
            <div class="block-flat">
                <div class="content no-padding">
                    <div class="overflow-hidden">
                        <i class="fa fa-list-alt fa-4x pull-left color-primary"></i>
                        <h3 class="no-margin">{{toUpperCase league-name}}</h3>
                        <p class="color-primary">Position</p>
                    </div>
                    <h1 class="no-margin big-text" align="center">{{league-position}}</h1>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
</div>