{{!-- the manager's team is bold, all other teams are not --}}
{{#if (eq @root._links.rel:managers-team.href _links.self.href)}}
<a href="{{_links.self.href}}"><b>{{name}}</b></a>
{{else}}
<a href="{{_links.self.href}}">{{name}}</a>
{{/if}}